img {
  display: flex;
  border-radius: 10px;
  width: 100px;
  height: 150px;
  object-fit: cover;
}
#v {
  border-radius: 10px;
  height: 150px;
}
strong {
  position: absolute;
  bottom: 20px;
  left: 60px;
  box-shadow: transparent;
  color: white;
  font-family: "Oswald", sans-serif;
}
.head {
  font-family: "Allison", cursive;
}
.title {
  font-family: "Lobster", cursive;
  font-family: "Urbanist", sans-serif;
}
#tilt {
  font-family: "Great Vibes", cursive;
}
p {
  position: absolute;
  background-position-y: 90deg;
  background-position-y: top;
  color: orange;
  font-family: "Tangerine", cursive;
}
.hd {
  font-family: "Dancing Script", cursive;
}
